<div class="row">
  <div class="col-auto me-auto"> <h3>Manage Profile<% resource_name.to_s.humanize %></h3> </div>
  <div class="col-auto d-flex align-items-center"> <%= link_to "Back", :back, class: "link-primary" %> </div>
</div>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card border-success mb-3">
    <div class="card-header fw-bold">Change Password</div>
    <div class="card-body">
      
      <div class="field">
        <% f.label :email %>
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <% f.label :password %>
        <%= f.password_field :password, placeholder: "New Password", autocomplete: "new-password", class: "form-control" %>
        <i>(leave blank if you don't want to change it)</i> <br>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <% f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <% f.label :current_password %>
        <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "current-password", class: "form-control" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>
      
      <br>
      
      <div class="actions">
        <%= f.submit "Update", class:"btn btn-outline-success btn-sm" %>
      </div>
    </div>
  </div>

<% end %>

<br>

<div class="card border-danger mb-3">
  <div class="card-header fw-bold">Delete Profile</div>
  <div class="card-body">
    <h5 class="card-title">Want to Delete Your Profile?</h5>
    <p class="card-text">Click on the below link to permanently delete your profile.</hp>
    <%= button_to "Delete Profile", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger btn-sm" %>
  </div>
</div>